<div class="breadcrumb-container">
  <button 
    mat-button 
    class="menu-button"
    (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
    <span class="menu-text">Menu</span>
  </button>

  <button 
    *ngIf="!isDashboard()"
    mat-icon-button 
    class="back-button"
    (click)="goBack()"
    matTooltip="Go Back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="breadcrumb-logo">
    <img src="/assets/dialyzeflow-logo.svg" alt="DialyzeFlow" class="logo-image" width="180" height="60" />
  </div>

  <nav class="breadcrumb-nav" *ngIf="breadcrumbs.length > 0">
    <ol class="breadcrumb-list">
      <li class="breadcrumb-item home">
        <a (click)="goHome()" class="breadcrumb-link" matTooltip="Go to Dashboard">
          <mat-icon class="breadcrumb-home-icon">home</mat-icon>
        </a>
      </li>

      <li 
        class="breadcrumb-item"
        *ngFor="let breadcrumb of breadcrumbs; let last = last"
        [class.active]="last">
        
        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
        
        <a 
          *ngIf="!last"
          (click)="navigateTo(breadcrumb.url)"
          class="breadcrumb-link">
          {{ breadcrumb.label }}
        </a>
        
        <span *ngIf="last" class="breadcrumb-current">
          {{ breadcrumb.label }}
        </span>
      </li>
    </ol>
  </nav>
</div>
